* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: relative;
}

.logo img {
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0px 8vw;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.middle {
    margin-top: 20px;
}

.right {
    margin-top: 20px;
}

button {
    background-color: #ffffff;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.middle ul li {
    display: flex;
    align-items: center;
}

li svg {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    fill: black;
}

.middle ul li span:hover {
    color: #525454;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
}

.logo span img {
    width: 82px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 130px;
}

.h1 {
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.h1 h1 {
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px 10px;
    color: #222;
    font-weight: 400;
}

.h3 {
    text-align: center;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.h3 h3 {
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px 10px;
    color: #222;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.download-main {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 70px;
}

.download-main button {
    font-size: 14px;
    border-radius: 5px;
    min-height: 48px;
    min-width: 256px;
    color: #ffffff;
    background-color: #00b6d1;
    border: none;
    font-style: normal;
    padding: 12px 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s;
}

.download-main button:hover {
    background-color: #14abc2;
    cursor: pointer;
}

.second {
    max-width: 1000px;
    display: flex;
    padding: 0 20px;
    justify-content: flex-start;
    margin: 40px auto;
    gap: 20px;
    margin-bottom: 29px;
}

.second h3 {
    margin-top: 14px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px 10px;
    color: #222;
    font-weight: 400;

}

.second small {
    font-size: 14px;
}

.grid {
    margin: 0px auto;
    max-width: 1000px;
    padding: 0px 20px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.rows>div {
    max-width: 302px;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    flex: 1 1 250px;
}

.rows h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #222;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rows h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    color: #222;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rows button {
    font-size: 12px;
    border-radius: 6px;
    min-height: 35px;
    min-width: 150px;
    color: #ffffff;
    background-color: #5cb85c;
    border: none;
    font-style: normal;
    padding: 8px 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rows div>div {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 8px 15px;
    min-height: 20px;
    word-break: break-word;
}

.rows div p {
    font-size: 8px;
    padding-top: 5px;
    line-height: 12px;
}